<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="FilePathTourism" value="D:\TS-iPASSFinal\Attachments"/>
    <add key="FilePath" value="D:\\PropertyFile\\Merchant.property"/>
    <add key="ErrorFile" value="D:\\PropertyFile\\ErrorMessage.property"/>
    <add key="LogFilePath" value="D:\\PropertyFile\\Log\\"/>
    <add key="TPSLService" value="https://www.tpsl-india.in/PaymentGateway/services/TransactionDetailsNew"/>
    <add key="GHMC.WebService" value="http://websrvs.ghmc.gov.in/WebService.asmx"/>
    <add key="Forest.EODBIPassIndicator" value="http://fmis.telangana.gov.in/common/WebService/EODBIPassIndicator.asmx"/>
    <add key="CGG.ProgressReport" value="http://tsfws.cgg.gov.in/services/ProgressReport"/>
    <add key="Fire.service" value="http://eistest.cgg.gov.in/misreports/service.asmx"/>
    <add key="HMWSSB.TSIPassUC" value="https://test.hyderabadwater.gov.in:9235/CTL/ERP/EIF/CommonService/IL/ITSIPassUC"/>
    <add key="MeeSeva.MeeSevaWebService" value="http://164.100.132.110/MeesevaWebServiceDept/MeeSevaWebService.asmx"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="1000000"/>
    <add key="MeeSeva_Live.meesevawebservice" value="http://tgdept.meeseva.gov.in/msevapaymentgateway/meesevawebservice.asmx"/>
    <add key="FireNew.service" value="http://tsfire.cgg.gov.in/misreports/service.asmx"/>
    <add key="TSSPDCLService.TSSPDCLIPassService" value="http://117.239.151.79:8080/tsspd/services/TSSPDCLIPassService.TSSPDCLIPassServiceHttpSoap11Endpoint/"/>
    <add key="NALAService.Meesevawebservice" value="http://staging.meeseva.gov.in/Meesevawebservice/Meesevawebservice.asmx"/>
    <add key="LabourService.TSLabourServiceImplService" value="https://cfewstslabour.cgg.gov.in/tsLabour"/>
    <!--<add key="BoilerService.TSBoilerServiceImplService" value="http://tsboilersws.cgg.gov.in/tsBoilers" />-->
    <!--<add key="BoilerService.TSBoilerServiceImplService" value="http://tsboilersws.cgg.gov.in/tsBoilers" />
    <add key="BoilerQueryResponseService.TSBoilerServiceImplService" value="http://tsboilersqueryresponsews.cgg.gov.in/tsBoilersQR" />-->
    <add key="BoilerQueryResponseService.TSBoilerServiceImplService" value="https://tsboilersqueryresponsews.cgg.gov.in/tsBoilersQR"/>
    <add key="LabourQueryResponseCFE.TSLabourServiceImplService" value="https://cfewstslabourqueryresponse.cgg.gov.in/tsLabour"/>
    <add key="HMWSSBService.TSiPASSNewConnectionUC" value="https://erp.hyderabadwater.gov.in:92/CTL/ERP/EIF/SWC/MeeSeva/IL/ITSiPASSNewConnectionUC"/>
    <add key="FactoryService.TSFactoryServiceImplService" value="https://tsfactoriescfe.cgg.gov.in/tsFactoriesWebServiceCFE"/>
    <add key="FactoryServiceQueryResponse.TSFactoryServiceImplService" value="https://tsfactoriescfequeryresponse.cgg.gov.in/tsFactoriesWebServiceCFEQueryResponse"/>
    <add key="FactoryServiceCFO.TSFactoryServiceImplService" value="https://tsfactoriescfo.cgg.gov.in/tsFactoriesWebServiceCFO"/>
    <add key="FactoryQueryResponseServiceCFO.TSFactoryServiceImplService" value="https://tsfactoriescfoqueryresponse.cgg.gov.in/tsFactoriesWebServiceCFOQueryResponse"/>
    <add key="TSNPDCLService.TsipassWsService" value="http://210.212.223.83:7000/J2S/TWS/TsipassWsPort"/>
    <add key="LabourCFOService.TSLabourServiceImplService" value="https://cfowstslabour.cgg.gov.in/tsLabour"/>
    <add key="LabourQueryResponseCFO.TSLabourServiceImplService" value="https://cfowstslabourqueryresponse.cgg.gov.in/tsLabour"/>
    <add key="LabourRenewalService.TSLabourServiceImplService" value="https://cfowstslabour.cgg.gov.in/tsLabour"/>
    <add key="FactoryRenewalService.TSFactoryServiceImplService" value="https://tsfactoriesannualfee.cgg.gov.in/tsFactoriesWebServiceAnnualLicenseFee"/>
    <add key="CEIGService.InstallationAppServiceImplService" value="http://tsceigws.cgg.gov.in/ceigWebServiceCFE"/>
    <add key="PCBInspectionService.ScheduledInspections" value="https://tspcbmanifest.cgg.gov.in/tspcbinspection/webservice/ScheduledInspections.asmx"/>
    <add key="LabourInspectionService.TSLabourServiceImplService" value="https://tslabourinspections.cgg.gov.in/tsLabour"/>
    <add key="FactoryInspection.TSFactoryServiceImplService" value="https://tsfactoriesdepartmentinspection.cgg.gov.in/tsFactoriesWebServiceDepartmentInspection"/>
    <add key="FactoryJointInspection.TSFactoryServiceImplService" value="https://tsfactoriesjointinspection.cgg.gov.in/tsFactoriesWebServiceJointInspection"/>
    <add key="LabourJointInspection.TSLabourServiceImplService" value="https://tslabourjointinspections.cgg.gov.in/tsLabourFactoriesJI"/>
    <add key="HMDAService.tsipass" value="https://dpms.hmda.gov.in/AutoDCR.TSPMON/tsipass.asmx"/>
    <add key="TSIICService.tsipass" value="http://45.127.101.85:9092/AutoDCR.TSPMON/tsipass.asmx"/>
    <!--<add key="CEIGCFEService.ApplicationServiceImplService" value="http://tsceigws.cgg.gov.in/application" />-->
    <add key="KotakSplitPayment.Untitled" value="https://apigwuat.kotak.com:8443/cms_generic_service"/>
    <add key="LabourGrievance.TSLabourGrievanceServiceImplService" value="https://tslabourgrievancews.cgg.gov.in/tsLabourGR"/>
    <add key="LabourShopCertificate.TSLabourServiceImplService" value="https://tslabouripasscertificatews.cgg.gov.in/tsLabourCertificate"/>
    <!--<add key="CEIGCFOService.ApplicationServiceImplService" value="http://tsceigws.cgg.gov.in/application" />-->
    <add key="ProfessionTax.TSIPASS" value="https://tgct.gov.in/TSIpass/TSIPASS.asmx"/>
    <add key="FireService.Service1" value="https://fire.telangana.gov.in/firews/Service1.asmx"/>
    <!--<add key="FireServiceCFO.Service1" value="https://fire.telangana.gov.in/firecfows/Service1.asmx" />-->
    <add key="FireServiceCFO.Service1" value="https://fire.telangana.gov.in/firecfows/Service1.asmx"/>
    <add key="TSIICPLOT.PlotDetailsService" value="http://onlineapps.tsiic.telangana.gov.in:8888/TS_ipass/services/PlotDetailsService.PlotDetailsServiceHttpSoap11Endpoint/"/>
    <add key="TSIICLAND.LandAllotmentService" value="http://onlineapps.tsiic.telangana.gov.in:8888/TS_ipass/services/LandAllotmentService.LandAllotmentServiceHttpSoap11Endpoint/"/>
    <add key="GHMCTEST.WebService" value="http://testghmc.cgg.gov.in/GHMC_TSIPASS_WS/WebService.asmx"/>
    <add key="Drug.tsipass_eodb" value="https://odls.telangana.gov.in/tsipass_eodb.asmx"/>
    <add key="PRDLIVE.TradelicenseNew" value="https://epanchayat.telangana.gov.in/htax/TradelicenseNew"/>
    <add key="CDMALIVE.CDMA_TL_TSIPASS_SERVICES" value="https://cdma.cgg.gov.in/cdma_hhd/CDMA_TL_TSIPASS_SERVICES.asmx"/>
    <add key="CDMAMASTERLIVE.CDMA_TRADEMASTER_SERVICES" value="https://cdma.cgg.gov.in/cdma_hhd/CDMA_TRADEMASTER_SERVICES.asmx"/>
    <add key="PRDTRADELIVE.TradelicenseNew" value="https://epanchayat.telangana.gov.in/htax/TradelicenseNew"/>
    <add key="CEIGCFEService.ApplicationServiceImplService" value="https://tsceigws.cgg.gov.in/application"/>
    <add key="CEIGCFOService.ApplicationServiceImplService" value="https://tsceigws.cgg.gov.in/application"/>
    <add key="TSIPASSWEBSERVICE.DEPARTMENTAPPROVALSYSTEM" value="https://ipass.telangana.gov.in/DEPARTMENTAPPROVALSYSTEM.ASMX"/>
    <add key="Dharanitokenurl_test" value="https://14.99.115.179:9095/validateipassuser"/>
    <add key="Dharaniautheredirecturl_test" value="https://14.99.115.179:9095/ipassCitizenAuthenticate"/>
    <!--<add key="DharanisecretKey" value="47904f55c633d8b520cf05930809849605e306c1" />-->
    <add key="Dharanistatuswebapi_test" value="https://14.99.115.179:9095/tsipass/getstatus"/>
    <add key="Dharanitokenurl" value="https://dharani.telangana.gov.in/validateipassuser"/>
    <add key="Dharaniautheredirecturl" value="https://dharani.telangana.gov.in/ipassCitizenAuthenticate"/>
    <add key="DharanisecretKey" value="47904f55c633d8b520cf05930809849605e306c1"/>
    <add key="Dharanistatuswebapi" value="https://dharani.telangana.gov.in/tsipass/getstatus"/>
    <!--Dharani call TSIPASS17022020 DB(TestDB) region -->
    <add key="DharaniIsserver" value="1"/>
    <!--Dharani Acall TSIPASS17022020 DB(testDB) region -->
    <!-- NSWS WEB API Start -->
    <!--NSWS LIVE API URL,KEY,ID's,TOKEN REGION  -->
    <!--NSWS call TSIPASS17022020 DB(TestDB) region -->
    <!--<add key="NSWSIsservertest" value="0"/> -->
    <!--test-->
    <add key="NSWSIsserverPPE" value="0"/>
    <!--ppe-->
    <add key="NSWSIsserver" value="1"/>
    <!--live-->
    <!--NSWS Acall TSIPASS17022020 DB(testDB) region -->
    <!--NSWS call TSIPASS DB(LiveDB) region -->
    <!--<add key="NSWSIsserver" value="1"/> -->
    <add key="NSWSFileuploadurlpath" value="~\NSWSFiles\"/>
    <add key="NSWStestFileuploadurlpath" value="~\NSWSFiles\"/>
    <!--NSWS call TSIPASS DB(LiveDB) end region -->
    <!--NSWS Acess id,secret region -->
    <add key="NSWSaccessid" value="State_Telangana"/>
    <add key="NSWSaccess_secret" value="Te#201210"/>
    <!--NSWS Acess id,secret end region -->
    <!--NSWS API URL,KEY- call api after cfe payment is done region -->
    <add key="NswsPushLicenseafterpaymentAPIKEY" value="Te#201210@AK1010"/>
    <add key="NswsPushLicenseafterpaymentAPI" value="https://api.nsws.gov.in/nsws_license/pushLincenceDetails"/>
    <!--NSWS API URL,KEY- call api after cfe payment is done end region -->
    <!--NSWS API URL,KEY-call api after cfe payment,query raised,rejected,final approval region -->
    <add key="NswsLicenseStatusAPIKEY" value="Te#201210@AK1006"/>
    <add key="NswsLicenseStatusAPI" value="https://api.nsws.gov.in/nsws_license/postLicenseStatus"/>
    <!--NSWS API URL,KEY-call api after cfe payment,query raised,rejected,final approval end region -->
    <!--NSWS API URL,KEY-call when a query is raised for a department approvals region -->
    <add key="NswsRaiseClarificationLicenseRequestAPIKEY" value="Te#201210@AK1008"/>
    <add key="NswsRaiseClarificationLicenseRequestAPI" value="https://api.nsws.gov.in/nsws_clarification/postLicenseQuery"/>
    <!--NSWS API URL,KEY-call when a query is raised for a department approvals end region -->
    <!--NSWS API URL,KEY-call api when query response is one for concern department Approval region -->
    <add key="NswsPullClarificationResponseAPIKEY" value="Te#201210@AK1009"/>
    <add key="NswsPullClarificationResponseAPI" value="https://api.nsws.gov.in/nsws_clarification/getqueryResponse"/>
    <!--NSWS API URL,KEY-call api when query response is one for concern department Approval end region -->
    <!--NSWS API URL,KEY-call api license request/ query response submitted by investor. region -->
    <add key="NswsPullDocumentAPIKEY" value="Te#201210@AK1002"/>
    <add key="NswsPullDocumentAPI" value="https://api.nsws.gov.in/nsws_document/getDocument"/>
    <!--NSWS API URL,KEY-c-call api license request/ query response submitted by investor end region -->
    <!--NSWS API URL,KEY-call api when approval document is uploaded region -->
    <add key="NswsPushDocumenAPIKEY" value="Te#201210@AK1001"/>
    <add key="NswsPushDocumenAPI" value="https://api.nsws.gov.in/nsws_document/pushDocument"/>
    <!--NSWS API URL,KEY-call api when approval document is uploaded end region -->
    <!--NSWS Acess id,secret,API URL,KEY- call api NswspushDocumentWithURL region -->
    <add key="NSWSaccessidpushurl" value="State_Telangana"/>
    <add key="NSWSaccess_secretpushurl" value="Te#201210"/>
    <add key="NswsPushLicenseafterpaymentAPIKEYpushurl" value="Te#201210@AK1016"/>
    <add key="NswspushDocumentWithURL" value="https://api.nsws.gov.in/nsws_document/pushDocumentWithURL"/>
    <!--<add key="NswspushDocumentWithURL" value="https://www.ppe-nsws-mnsportal.maadhyam.gov.in/nsws_document/pushDocumentWithURL" />-->
    <!--NSWS Acess id,secret,API URL,KEY- call api NswspushDocumentWithURL end region -->
    <!--NSWS API URL,KEY-call api Get Document Repository general documents of investor region -->
    <add key="NswsGetDocumentRepositoryAPIKEY" value="Te#201210@AK1003"/>
    <add key="NswsGetDocumentRepositoryAPI" value="https://api.nsws.gov.in/nsws_document/fetchFileMetadataSwsId"/>
    <!--NSWS API URL,KEY-call api Get Document Repository  general documents of investor end region -->
    <!--NSWS API URL,KEY-call api Acknowledgement to check license status how many are success and failed when all api are called region -->
    <add key="NswsAcknowledgementAPIKEY" value="Te#201210@AK0001"/>
    <add key="NswsAcknowledgementAPI" value="https://api.nsws.gov.in/nsws_ack/acknowledgement"/>
    <!--NSWS API URL,KEY-call api Acknowledgement to check license status how many are success and failed when all api are called end region -->
    <!--NSWS API URL,KEY-call api LicensePull region -->
    <add key="NswsLicensePullAPIKEY" value="Min1@GLL08"/>
    <add key="NswsLicensePullAPI" value="#"/>
    <!--NSWS API URL,KEY-call api License Pull end region -->
    <!--NSWS Token region -->
    <add key="AuthenticateNSWSUsertoken" value="https://api.nsws.gov.in/auth/realms/madhyam/protocol/openid-connect/token"/>
    <add key="client_id" value="sws_state"/>
    <add key="client_secret" value="643790eb-2b2a-4187-8c43-54a663b840eb"/>
    <add key="grant_type" value="password"/>
    <add key="username" value="telangana"/>
    <add key="password" value="Telangana@nsws"/>
    <!--NSWS Token end region -->
    <!--NSWS CAFDETAILS REGION  -->
    <add key="AuthenticateNSWSCAFDETAILStoken" value="https://api.nsws.gov.in/nsws_extrnl_intrnl_api/caf/"/>
    <add key="NSWSStateID" value="29"/>
    <!-- NSWS CAFDETAILS end region -->
    <!--NSWS URL REDIRECTIO REGION  -->
    <add key="redirectionurlfornsws" value="https://api.nsws.gov.in/gateway/form-builder/caf/redirection"/>
    <!--NSWS URL REDIRECTIO END REGION  -->
    <!--NSWS TSIPASS URL REDIRECTIO END REGION  -->
    <!--http://120.138.9.236/TESTTSIPASS/IpassLogin.aspx?UserName{" + name + "}&Password={" + technology + "}"; -->
    <add key="tsipassredirectionurlfornsws" value="http://120.138.9.236/TESTTSIPASS/IpassLogin.aspx?UserName"/>
    <!--NSWS TSIPASS URL REDIRECTIO END REGION  -->
    <!--NSWS LIVE API URL,KEY,ID's,TOKEN END REGION  -->
    <!--NSWS TEST API URL,KEY,ID's,TOKEN  REGION  -->
    <!--NSWS Acess id,secret region -->
    <add key="testNSWSaccessid" value="MIN_TEST_0"/>
    <add key="testNSWSaccess_secret" value="MintesT@1234"/>
    <!--NSWS Acess id,secret end region -->
    <!--NSWS API URL,KEY- call api after cfe payment is done region -->
    <add key="testNswsPushLicenseafterpaymentAPIKEY" value="Min1@PLD11"/>
    <add key="testNswsPushLicenseafterpaymentAPI" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_license/pushLincenceDetails"/>
    <!--NSWS API URL,KEY- call api after cfe payment is done end region -->
    <!--NSWS API URL,KEY-call api after cfe payment,query raised,rejected,final approval region -->
    <add key="testNswsLicenseStatusAPIKEY" value="Min1@PLS07"/>
    <add key="testNswsLicenseStatusAPI" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_license/postLicenseStatus"/>
    <!--NSWS API URL,KEY-call api after cfe payment,query raised,rejected,final approval end region -->
    <!--NSWS API URL,KEY-call when a query is raised for a department approvals region -->
    <add key="testNswsRaiseClarificationLicenseRequestAPIKEY" value="Min1@PLQ09"/>
    <add key="testNswsRaiseClarificationLicenseRequestAPI" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_clarification/postLicenseQuery"/>
    <!--NSWS API URL,KEY-call when a query is raised for a department approvals end region -->
    <!--NSWS API URL,KEY-call api when query response is one for concern department Approval region -->
    <add key="testNswsPullClarificationResponseAPIKEY" value="Min1@GQR10"/>
    <add key="testNswsPullClarificationResponseAPI" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_clarification/getqueryResponse"/>
    <!--NSWS API URL,KEY-call api when query response is one for concern department Approval end region -->
    <!--NSWS API URL,KEY-call api license request/ query response submitted by investor. region -->
    <add key="testNswsPullDocumentAPIKEY" value="Min1@GD03"/>
    <add key="testNswsPullDocumentAPI" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_document/getDocument"/>
    <!--NSWS API URL,KEY-c-call api license request/ query response submitted by investor end region -->
    <!--NSWS API URL,KEY-call api when approval document is uploaded region -->
    <add key="testNswsPushDocumenAPIKEY" value="Min1@PD02"/>
    <add key="testNswsPushDocumenAPI" value="http://uat-nsws-mnstrportal.investindia.gov.in/nsws_document/pushDocument"/>
    <!--NSWS API URL,KEY-call api when approval document is uploaded end region -->
    <!--test NSWS Acess id,secret,API URL,KEY- call api NswspushDocumentWithURL region -->
    <add key="testNSWSaccessidpushurl" value="M_TTN001"/>
    <add key="testNSWSaccess_secretpushurl" value="TtnTest@1234"/>
    <add key="testNswsPushLicenseafterpaymentAPIKEYpushurl" value="Min1@GLSD12"/>
    <add key="testNswspushDocumentWithURL" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_document/pushDocumentWithURL"/>
    <!--NSWS TEST Acess id,secret,API URL,KEY- call api NswspushDocumentWithURL end region -->
    <!--NSWS API URL,KEY-call api Get Document Repository general documents of investor region -->
    <add key="testNswsGetDocumentRepositoryAPIKEY" value="Min1@FFMSI04"/>
    <add key="testNswsGetDocumentRepositoryAPI" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_document/fetchFileMetadataSwsId"/>
    <!--NSWS API URL,KEY-call api Get Document Repository  general documents of investor end region -->
    <!--NSWS API URL,KEY-call api Acknowledgement to check license status how many are success and failed when all api are called region -->
    <add key="testNswsAcknowledgementAPIKEY" value="Min1@A01"/>
    <add key="testNswsAcknowledgementAPI" value="https://uat-nsws-mnstrportal.investindia.gov.in/nsws_ack/acknowledgement"/>
    <!--NSWS API URL,KEY-call api Acknowledgement to check license status how many are success and failed when all api are called end region -->
    <!--NSWS API URL,KEY-call api LicensePull r
         egion -->
    <add key="testNswsLicensePullAPIKEY" value="Min1@GLL08"/>
    <add key="testNswsLicensePullAPI" value="#"/>
    <!--NSWS API URL,KEY-call api License Pull end region -->
    <!--NSWS Token region -->
    <add key="testAuthenticateNSWSUsertoken" value="https://sso-uat-nsws.investindia.gov.in/auth/realms/madhyam/protocol/openid-connect/token"/>
    <add key="testclient_id" value="sws_state"/>
    <add key="testclient_secret" value="643790eb-2b2a-4187-8c43-54a663b840eb"/>
    <add key="testgrant_type" value="password"/>
    <add key="testusername" value="telangana"/>
    <add key="testpassword" value="Telangana@nsws"/>
    <!--NSWS Token end region -->
    <!--NSWS CAFDETAILS REGION  -->
    <!-- https://uat-nsws.investindia.gov.in/gateway/form-builder/caf/public/SW8577172400/29-->
    <add key="testAuthenticateNSWSCAFDETAILStoken" value="https://uat-nsws.investindia.gov.in/gateway/form-builder/caf/public/"/>
    <add key="testNSWSStateID" value="29"/>
    <!-- NSWS CAFDETAILS end region -->
    <!--NSWS URL REDIRECTIO REGION  -->
    <add key="testredirectionurlfornsws" value="https://uat-nsws.investindia.gov.in/gateway/form-builder/caf/redirection"/>
    <!--NSWS URL REDIRECTIO END REGION  -->
    <!--NSWS TSIPASS URL REDIRECTIO END REGION  -->
    <!--http://120.138.9.236/TESTTSIPASS/IpassLogin.aspx?UserName{" + name + "}&Password={" + technology + "}"; -->
    <add key="testtsipassredirectionurlfornsws" value="http://120.138.9.236/TESTTSIPASS/IpassLogin.aspx?UserName"/>
    <!--NSWS TSIPASS URL REDIRECTIO END REGION  -->
    <!--NSWS TEST API URL,KEY,ID's,TOKEN END REGION  -->
    <!--NSWS Acess id,secret region -->
    <add key="PPE_NSWSaccessid" value="MIN_TEST_0"/>
    <add key="PPE_NSWSaccess_secret" value="MintesT@1234"/>
    <!--NSWS Acess id,secret end region -->
    <!--NSWS API URL,KEY- call api after cfe payment is done region -->
    <add key="PPE_NswsPushLicenseafterpaymentAPIKEY" value="Min1@PLD11"/>
    <add key="PPE_NswsPushLicenseafterpaymentAPI" value="https://api.nsws.gov.in/nsws_license/pushLincenceDetails"/>
    <!--NSWS API URL,KEY- call api after cfe payment is done end region -->
    <!--NSWS API URL,KEY-call api after cfe payment,query raised,rejected,final approval region -->
    <add key="PPE_NswsLicenseStatusAPIKEY" value="Min1@PLS07"/>
    <add key="PPE_NswsLicenseStatusAPI" value="https://api.nsws.gov.in/nsws_license/postLicenseStatus"/>
    <!--NSWS API URL,KEY-call api after cfe payment,query raised,rejected,final approval end region -->
    <!--NSWS API URL,KEY-call when a query is raised for a department approvals region -->
    <add key="PPE_NswsRaiseClarificationLicenseRequestAPIKEY" value="Min1@PLQ09"/>
    <add key="PPE_NswsRaiseClarificationLicenseRequestAPI" value="https://api.nsws.gov.in/nsws_clarification/postLicenseQuery"/>
    <!--NSWS API URL,KEY-call when a query is raised for a department approvals end region -->
    <!--NSWS API URL,KEY-call api when query response is one for concern department Approval region -->
    <add key="PPE_NswsPullClarificationResponseAPIKEY" value="Min1@GQR10"/>
    <add key="PPE_NswsPullClarificationResponseAPI" value="https://api.nsws.gov.in/nsws_clarification/getqueryResponse"/>
    <!--NSWS API URL,KEY-call api when query response is one for concern department Approval end region -->
    <!--NSWS API URL,KEY-call api license request/ query response submitted by investor. region -->
    <add key="PPE_NswsPullDocumentAPIKEY" value="Min1@GD03"/>
    <add key="PPE_NswsPullDocumentAPI" value="https://api.nsws.gov.in/nsws_document/getDocument"/>
    <!--NSWS API URL,KEY-c-call api license request/ query response submitted by investor end region -->
    <!--NSWS API URL,KEY-call api when approval document is uploaded region -->
    <add key="PPE_NswsPushDocumenAPIKEY" value="Min1@PD02"/>
    <add key="PPE_NswsPushDocumenAPI" value="https://api.nsws.gov.in/nsws_document/pushDocument"/>
    <!--NSWS API URL,KEY-call api when approval document is uploaded end region -->
    <!--NSWS Acess id,secret,API URL,KEY- call api NswspushDocumentWithURL region -->
    <add key="PPE_NSWSaccessidpushurl" value="M_TTN001"/>
    <add key="PPE_NSWSaccess_secretpushurl" value="TtnTest@1234"/>
    <add key="PPE_NswsPushLicenseafterpaymentAPIKEYpushurl" value="Min1@GLSD12"/>
    <add key="PPE_NswspushDocumentWithURL" value="https://www.ppe-nodal-authority.nsws.gov.in/"/>
    <!--NSWS Acess id,secret,API URL,KEY- call api NswspushDocumentWithURL end region -->
    <!--NSWS API URL,KEY-call api Get Document Repository general documents of investor region -->
    <add key="PPE_NswsGetDocumentRepositoryAPIKEY" value="Min1@FFMSI04"/>
    <add key="PPE_NswsGetDocumentRepositoryAPI" value="https://api.nsws.gov.in/nsws_document/fetchFileMetadataSwsId"/>
    <!--NSWS API URL,KEY-call api Get Document Repository  general documents of investor end region -->
    <!--NSWS API URL,KEY-call api Acknowledgement to check license status how many are success and failed when all api are called region -->
    <add key="PPE_NswsAcknowledgementAPIKEY" value="Min1@A01"/>
    <add key="PPE_NswsAcknowledgementAPI" value="https://api.nsws.gov.in/nsws_ack/acknowledgement"/>
    <!--NSWS API URL,KEY-call api Acknowledgement to check license status how many are success and failed when all api are called end region -->
    <!--NSWS API URL,KEY-call api LicensePull region -->
    <add key="PPE_NswsLicensePullAPIKEY" value="Min1@GLL08"/>
    <add key="PPE_NswsLicensePullAPI" value="#"/>
    <!--NSWS API URL,KEY-call api License Pull end region -->
    <!--NSWS Token region -->
    <add key="PPE_AuthenticateNSWSUsertoken" value="https://api.nsws.gov.in/auth/realms/madhyam/protocol/openid-connect/token"/>
    <add key="PPE_client_id" value="sws_state"/>
    <add key="PPE_client_secret" value="643790eb-2b2a-4187-8c43-54a663b840eb"/>
    <add key="PPE_grant_type" value="password"/>
    <add key="PPE_username" value="telangana"/>
    <add key="PPE_password" value="Telangana@nsws"/>
    <!--NSWS Token end region -->
    <!--NSWS CAFDETAILS REGION  -->
    <add key="PPE_AuthenticateNSWSCAFDETAILStoken" value="https://api.nsws.gov.in/nsws_extrnl_intrnl_api/caf/"/>
    <add key="PPE_NSWSStateID" value="29"/>
    <!-- NSWS CAFDETAILS end region -->
    <!--NSWS URL REDIRECTIO REGION  -->
    <add key="PPE_redirectionurlfornsws" value="https://api.nsws.gov.in/gateway/form-builder/caf/redirection"/>
    <!--NSWS URL REDIRECTIO END REGION  -->
    <!--NSWS TSIPASS URL REDIRECTIO END REGION  -->
    <!--http://120.138.9.236/TESTTSIPASS/IpassLogin.aspx?UserName{" + name + "}&Password={" + technology + "}"; -->
    <add key="PPE_tsipassredirectionurlfornsws" value="http://120.138.9.236/TESTTSIPASS/IpassLogin.aspx?UserName"/>
    <!--NSWS TSIPASS URL REDIRECTIO END REGION  -->
    <!--NSWS LIVE API URL,KEY,ID's,TOKEN END REGION  -->
    <!-- NSWS WEB API END  -->
    <!-- <add key="TSIICLANDCGG.LandAllotmentService" value="http://tsiicwebservices.cgg.gov.in/services/LandAllotmentService.LandAllotmentServiceHttpSoap11Endpoint/" />
    <add key="TSIICPLOTCGG.TSPlotDetailsService" value="http://tsiicwebservices.cgg.gov.in/services/TSPlotDetailsService.TSPlotDetailsServiceHttpSoap11Endpoint/" />-->
    <add key="TSIICLANDCGG.LandAllotmentService" value="https://tsiicwebservices.cgg.gov.in/services/LandAllotmentService.LandAllotmentServiceHttpsSoap11Endpoint/"/>
    <!--<add key="TSIICPLOTCGG.TSPlotDetailsService" value="https://tsiicwebservices.cgg.gov.in/services/TSPlotDetailsService.TSPlotDetailsServiceHttpSoap11Endpoint/" />-->
    <add key="TSIICPLOTCGG.TSPlotDetailsService" value="https://tsiicwebservices.cgg.gov.in/services/TSPlotDetailsService.TSPlotDetailsServiceHttpsSoap11Endpoint/"/>
    <add key="filePath" value="G:\TS-iPASSFinal\OfflineApprovals\"/>
    <add key="CFEfilePath" value="D:\TS-iPASSFinal\Attachments\"/>
    <add key="CFOfilePath" value="G:\TS-iPASSFinal\CFOAttachments\"/>
    <add key="RENfilePath" value="G:\TS-iPASSFinal\RENAttachments\"/>
    <add key="INCfilePath" value="G:\TS-iPASSFinal\IncentivesAttachments\"/>
    <add key="PlotfilePath" value="G:\TS-iPASSFinal\plotattachments\"/>
    <add key="RIGfilePath" value="G:\TS-iPASSFinal\RigsHandboring\"/>
    <add key="BWfilePath" value="G:\TS-iPASSFinal\GroundWaterWaltForm\"/>
    <add key="HelpdeskfilePath" value="D:\TS-iPASSFinal\Helpdesk\"/>
    <add key="GoCOIIncentiveAttachmentsNEW" value="G:\TS-iPASSFinal\GoCOIIncentiveAttachments\"/>
    <add key="PANURL" value="https://121.240.36.237/TIN/PanInquiryAPIBackEnd"/>
    <add key="PANFXPassword" value="emudhra"/>
    <add key="PANCertificatename" value="D:\PANSign\Signer.pfx"/>
    <add key="PANUserid" value="V0024301"/>
    <add key="PANURLLIVE" value="https://opvapi.egov-nsdl.com/TIN/PanInquiryAPIBackEnd"/>
    <add key="PANFXPasswordLIVE" value="emudhra"/>
    <add key="PANCertificatenameLIVE" value="D:\PANSignLIVE\Signer.pfx"/>
    <add key="PANUseridLIVE" value="V0290001"/>
    <add key="DCRPORTALLIVE.TGiPASSdrawingio" value="https://dcrportal.telangana.gov.in/ws/TGiPASSdrawingio.asmx"/>
    <add key="TGBPASSLIVE.tgipass" value="https://sw.tgbpass.telangana.gov.in/bpamsclient/TSIPASS/tgipass.asmx"/>
  <add key="BoilerService.TSBoilerServiceImplService" value="https://tsboilersws.cgg.gov.in/tsBoilers"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="TSiPASSSkils" connectionString="Data Source=120.138.9.174;database=TSIPASS;User ID=sa;pwd=QWEASDzxc1234$#$;Connect Timeout=12000;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TSiPASSSkils" connectionString="Data Source=COMMISSI20139\MSSQLR2;database=TSiPASS;Integrated Security=True;Connect Timeout=12000;" providerName="System.Data.SqlClient" />-->
    <!--<add name="TSiPASSSkils" connectionString="Data Source=120.138.9.236;Initial Catalog=TSiPASSAUDIT;User ID=shankar;pwd=Psr@321" providerName="System.Data.SqlClient"/>-->
    <add name="TSiPASSSkils" connectionString="Data Source=120.138.9.174;database=TSiPASS19102022; User ID=sa;pwd=QWEASDzxc1234$#$; Connect Timeout=12000;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<httpModules>

      <add type="QueryStringModule" name="QueryStringModule"/>

    </httpModules>-->
    <!--<httpRuntime maxRequestLength="2097151"/>-->
    <!--<httpRuntime maxRequestLength="20971511"/>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <!--<compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>-->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <customErrors mode="Off" defaultRedirect="UI/TSIPASS/ErrorPage.aspx">
      <error statusCode="403" redirect="../../ErrorPage.aspx"/>
      <error statusCode="404" redirect="../../ErrorPage.aspx"/>
    </customErrors>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <identity impersonate="false"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
    <httpRuntime maxRequestLength="20971511" requestPathInvalidCharacters="" requestValidationMode="2.0" encoderType="System.Web.Security.AntiXss.AntiXssEncoder"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
    <sessionState timeout="20"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="TsHome.aspx"/>
        <add value="Default.aspx"/>
        <add value="home2.aspx"/>
        <add value="WebiPASS.aspx"/>
        <add value="Index.aspx"/>
        <add value="frmUserLogin.aspx"/>
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination=""/>
    <!--<httpErrors errorMode="Detailed">
      <remove statusCode="403" subStatusCode="-1" />
    </httpErrors>-->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <!--<error statusCode="404" prefixLanguageFilePath="" path="../../TsHome.aspx" responseMode="Redirect"/>-->
    </httpErrors>
    <rewrite>
      <outboundRules>
        <rule name="RESPONSE_X-POWERED-BY" enabled="false">
          <match serverVariable="RESPONSE_SERVER" pattern=".*"/>
          <action type="Rewrite"/>
        </rule>
        <rule name="Add SameSite" preCondition="No SameSite" enabled="false">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false"/>
          <action type="Rewrite" value="{R:0}; SameSite=strict"/>
          <conditions/>
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="."/>
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=strict" negate="true"/>
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="Server"/>
        <remove name="X-Content-Type-Options"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <remove name="X-Powered-By"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="strict-transport-security" value="1; mode=max-age=31536000; includeSubDomains; preload"/>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0"/>
        <add name="Content-Security-Policy-Report-Only" value="default-src 'self'"/>
        <add name="x-content-type" value="nosniff"/>
        <remove name="ETag"/>
        <add name="ETag" value="None"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-AspNetMvc-Version"/>
        <remove name="X-Server"/>
      </customHeaders>
    </httpProtocol>
    <!--<modules>

      <add type="QueryStringModule" name="QueryStringModule"/>

    </modules>-->
    <modules>
      <add name="QueryStringModule" type="QueryStringModule"/>
    </modules>
    <staticContent>
      <remove fileExtension=".png"/>
      <remove fileExtension=".jpg"/>
      <remove fileExtension=".jpeg"/>
      <remove fileExtension=".pdf"/>
    </staticContent>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="RegistrationSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
     receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
     bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="Transport">
      <transport clientCredentialType="None" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>
    <binding name="RegistrationSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
     receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
     bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
     useDefaultWebProxy="true">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <security mode="None">
      <transport clientCredentialType="Basic" realm="" />
      <message clientCredentialType="UserName" algorithmSuite="Default" />
     </security>
    </binding>-->
        <binding name="RegistrationSoap" maxReceivedMessageSize="131072000">
          <!--<security mode="Transport">
               <transport clientCredentialType="Basic" realm=""/>
               <message clientCredentialType="UserName" algorithmSuite="Default" />-->
          <!--<security mode="Transport">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" realm="" />-->
          <!--</security>-->
          <security mode="Transport">
            <transport clientCredentialType="Basic" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://tgct.gov.in/WebService_Others/registration.asmx" binding="basicHttpBinding" bindingConfiguration="RegistrationSoap" contract="RegReference.RegistrationSoap" name="RegistrationSoap"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>